.token.selector{
    color: black;
}

.token.property{
    color: black;
}

.token.punctuation{
    color: black;
}

.page{
    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#paper{
    overflow: auto;
    display: flex; 
    align-items: flex-start;
}

.content{
    overflow: auto;
}

